<section class="bg-[#F1F1F1] p-6 min-h-screen">
  <div class="w-full flex justify-center items-center">
    <app-brand />
  </div>

  @if (alertMessage()) {
  <p class="text-center text-xs">{{ alertMessage() }}</p>
  }

  <div class="my-12">
    <h1 class="font-bold text-2xl mb-4 text-black">Let's Sign In!</h1>
    <p class="text-black text-sm">Login to Your Account to Continue</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="space-y-5">
      <div>
        <app-input-field
          [control]="form.get('email')"
          type="email"
          id="email-input"
          placeholder="Email"
          [required]="true"
        ></app-input-field>
      </div>

      <div>
        <app-input-field
          [control]="form.get('password')"
          type="password"
          id="password-input"
          placeholder="Password"
          [required]="true"
        ></app-input-field>
      </div>

      <div class="flex justify-end w-full">
        <a routerLink="/forgot-password" class="text-xs text-gray-600 mr-4"
          >Forgot Password?</a
        >
      </div>
    </div>

    <div class="flex justify-center items-center mt-10">
      <button
        type="submit"
        class="bg-[#4A2A04] relative w-full py-2.5 rounded-full"
      >
        <span class="font-semibold text-white">Sign In</span>

        <span
          class="text-white absolute w-[35px] h-[35px] flex justify-center items-center right-0 top-2/4 -translate-y-2/4 bg-white font-medium rounded-full text-sm p-1.5 text-center me-1.5"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="#4A2A04"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
          <span class="sr-only">Icon description</span>
        </span>
      </button>
    </div>
  </form>

  <div class="flex justify-center items-center">
    <p class="text-center text-xs my-6">Or</p>
  </div>

  <div class="flex justify-center items-center mt-5">
    <button
      type="button"
      class="text-white bg-[#050708] hover:bg-[#050708]/90 font-medium rounded-lg text-sm px-8 py-3.5 text-center inline-flex items-center me-2 mb-2"
    >
      <svg
        class="w-4 h-4 me-2 -ms-1"
        aria-hidden="true"
        focusable="false"
        data-prefix="fab"
        data-icon="apple"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 384 512"
      >
        <path
          fill="white"
          d="M318.7 268.7c-.2-36.7 16.4-64.4 50-84.8-18.8-26.9-47.2-41.7-84.7-44.6-35.5-2.8-74.3 20.7-88.5 20.7-15 0-49.4-19.7-76.4-19.7C63.3 141.2 4 184.8 4 273.5q0 39.3 14.4 81.2c12.8 36.7 59 126.7 107.2 125.2 25.2-.6 43-17.9 75.8-17.9 31.8 0 48.3 17.9 76.4 17.9 48.6-.7 90.4-82.5 102.6-119.3-65.2-30.7-61.7-90-61.7-91.9zm-56.6-164.2c27.3-32.4 24.8-61.9 24-72.5-24.1 1.4-52 16.4-67.9 34.9-17.5 19.8-27.8 44.3-25.6 71.9 26.1 2 49.9-11.4 69.5-34.3z"
        ></path>
      </svg>
      Sign in with Apple
    </button>
  </div>

  <div class="text-center mt-4">
    <p class="text-xs">
      Don't have an Account?
      <a routerLink="/signup" class="underline text-sm ml-3 uppercase"
        >SIGN UP</a
      >
    </p>
  </div>
</section>
