<section class="bg-[#F1F1F1] p-6">
  <div class="w-full flex justify-center items-center">
    <app-brand />
  </div>

  <div class="my-12">
    <h1 class="font-bold text-2xl mb-4 text-black">Let's Sign In!</h1>
    <p class="text-black text-sm">Login to Your Account to Continue</p>
  </div>

  <form>
    <div class="space-y-5">
      <div>
        <app-input-field
          [control]="form.get('email')"
          type="email"
          id="email-input"
          placeholder="Email"
          [required]="true"
        ></app-input-field>
      </div>

      <div>
        <app-input-field
          [control]="form.get('password')"
          type="password"
          id="password-input"
          placeholder="Password"
          [required]="true"
        ></app-input-field>
      </div>

      <div class="flex justify-end w-full">
        <a routerLink="/forgot-password" class="text-xs text-gray-600 mr-4"
          >Forgot Password?</a
        >
      </div>
    </div>

  </form>

</section>
